/* ================== LAYOUT ================== */
.layout {
  display: flex;
  height: 100%;
}

.services {
  flex: 1;
}

.services_brands {
  padding: 16px 0px;
}

.services_types {
  padding: 16px 0px;
}
.services_prices {
  padding: 16px 0px;
}

.services_prices__info {
  padding: 16px 0px;
}

.services__footer {
  padding: 16px 0px;
}

/* ================== MEDIA QUERIES ================== */
/* Mobile (<767px) */
@media (max-width: 767px) {
  .layout {
    display: block;
    margin:10px;
  }
}

/* Tablets (768px–1119px) */
@media (min-width: 768px) and (max-width: 1119px) {
  .layout {
    display: block;
  }
}

/* Desktop (>=1120px) */
@media (min-width: 1120px) {
  .layout {
    margin-left: 260px;
  }
}
