/* ================== MEDIA QUERIES ================== */
/* Mobile (<767px) */
@media (max-width: 767px) {
  .text--mobile {
    display: inline;
  }
}

/* Tablets (768px–1119px) */
@media (min-width: 768px) and (max-width: 1119px) {
  .text--mobile,
  .text--tablet {
    display: inline;
  }
}

/* Desktop (>=1120px) */
@media (min-width: 1120px) {
  .text--mobile,
  .text--tablet,
  .text--desktop {
    display: inline;
  }
}
